<div class="login">
  <form [formGroup]="loginForm" class="login1">
    <div class="emai">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <mat-error *ngIf="email.hasError('required') && email.touched">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email has wrong format</mat-error>
    </div>

    <div class="password">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <mat-error *ngIf="password.errors && (password.touched)">Password is required</mat-error>
    </div>
    <mat-error *ngIf="isLoginError">This login or password is wrong</mat-error>
  </form>

  <button mat-raised-button color="primory" [disabled]="loginForm.invalid" (click)="login()"> Login</button>
  <button mat-raised-button color="primory" routerLink="../../auth/register"> Register page</button>
</div>
